/projet/nbproject/private/
/projet/projet-war/nbproject/private/
/projet/projet-ejb/nbproject/private/
/projet/projet-ejb/build/
/projet/projet-ejb/dist/
/projet/projet-war/build/
/projet/build/
/projet/projet-war/dist/
/projet/dist/