/projet/nbproject/private/
/projet/projet-war/nbproject/private/
/projet/projet-ejb/nbproject/private/
/projet/projet-ejb/build/
/projet/projet-ejb/dist/
/projet/projet-war/build/
/projet/build/
/projet/projet-war/dist/
/projet/dist/
/Projet/nbproject/private/
/Projet/Projet-war/nbproject/private/
/Projet/Projet-ejb/nbproject/private/
/Projet/Projet-ejb/dist/
/Projet/build/
/Projet/dist/
/Projet/Projet-war/build/
/Projet/Projet-war/dist/
/Projet/Projet-ejb/build/